@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root {
  --tamanho-header: 80px;
  --tamanho-banner: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-simulador: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-login: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-footer: 65px;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container_menuHeader {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.btn_fixo {
  position: fixed;
  align-items: center;
  top: 514px;
  display: flex;
  right: 29px;
  height: 65px;
  width: 65px;
  background-color: #B9D2FF;
  border-radius: 100%;
  justify-content: center;
  z-index: 10;
  /* display: none; */
}

section {
  margin: 150px 0;
}

section:first-child {
  margin: 0;
  /* Remove a margem superior do primeiro section */
}

section:nth-of-type(2) {
  margin-top: 0;
}

.container {
  display: flex;
  width: 80%;
  margin: auto;
}

.titulo_section {
  width: 88%;
  margin: 0 auto;
}

.titulo_section h2 {
  font-size: 2rem;
  color: #12254A;
}

.titulo_section h2::after {
  content: "";
  display: block;
  width: 63px;
  height: 3px;
  text-align: left;
  background-color: #14274A;
  margin: 5px auto 0 5px;
}

.header {
  height: var(--tamanho-header);
  border-bottom: 2px solid #959595;
  background-color: #00000085;
}

.header .container {
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.header a {
  text-decoration: none;
  color: #b8b8b8;
}

.agora a {
  /* font-weight: 800; */
  color: white;
}

.navbar {
  gap: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #959595;
  font-weight: 600;
}

.navbar li {
  position: relative;
  /* Necessário para posicionar a borda pseudo-elemento */
}

.navbar li a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
  padding: 10px 15px;
  position: relative;
  /* Necessário para a animação da borda */
}

.navbar li a:hover {
  color: #f8f8f8;
}

.navbar li a:before,
.navbar li a:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  width: 0;
  height: 2px;
  /* Borda superior e inferior */
  background: #f8f8f8;
  transition: 400ms ease all;
}

.navbar li a:after {
  left: inherit;
  top: inherit;
  bottom: 0;
  /* A borda inferior começa na parte de baixo */
  width: 0;
  /* Começa com a largura de 0 */
}

.navbar li a:hover:before,
.navbar li a:hover:after {
  width: 100%;
  transition: 800ms ease all;
  width: 100%;
  /* Quando o mouse passa por cima, a largura vai até 100% */
}

.titulo {
  color: #32b9cd;
  width: fit-content;
  font-weight: 500;
}

.header h1 {
  margin: 0;
}

/* BANNER */

.banner {
  height: var(--tamanho-banner);
  color: white;
  background-color: #00000085;
  height: 88vh;
}

.video-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 101vh;
  object-fit: cover;
  z-index: -1;
}

.banner .container {
  /* justify-content: center; */
  align-items: center;
  height: 100%;
}

.banner .container p {
  width: 50%;
  margin: 0;
  padding: 0;
  font-size: 36px;
}

.banner .container span {
  font-weight: 800;
}

/* Apresentasção */
.container_apresentacao {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  overflow: hidden;
}

.container_apresentacao_left {
  background-color: #d3d3d3;
  width: 100%;
}

.container_apresentacao_left .titulo {
  position: absolute;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container_apresentacao_left .titulo h2 {
  position: relative;
  top: 120px;
  width: 87%;
  font-size: 2rem;
  color: #12254A;
}

.btn {
  display: flex;
  width: 78%;
  justify-content: flex-start;
}

.container_apresentacao_right {
  background-color: #0b1c45;
  width: 53%;
  left: 42%;
  display: flex;
  text-align: center;
  height: 60vh;
  position: relative;
  padding: 40px;
  clip-path: polygon(0% 0, 100% 0, 100% 100%, 30% 100%);
  flex-direction: column;
  align-items: flex-end;
  align-content: flex-end;
  justify-content: center;
}

.container_apresentacao_right .texto p {
  width: 78%;
  text-align: justify;
}

.container_apresentacao_right .texto {
  display: flex;
  width: 79%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.container_sobre {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  background-color: #fff;
}

.container_sobre_left {
  background-color: #d3d3d3;
  width: 100%;
}

.container_sobre_left img {
  position: relative;
  right: 635px;
  top: -22px;
  z-index: 40;
}

.container_sobre_left .titulo {
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.container_sobre_left .titulo p {
  position: relative;
  width: 35%;
  left: -110px;
  bottom: 334px;
  text-align: center;
  color: #12254A;
}

.container_sobre_right {
  background-color: #0b1c45;
  width: 51%;
  right: 0%;
  display: flex;
  text-align: center;
  height: 46vh;
  position: relative;
  padding: 40px;
  clip-path: polygon(0% 0%, 95% 0%, 58% 100%, 0% 100%);
  flex-direction: column;
  align-items: flex-end;
  align-content: flex-end;
  justify-content: center;
}

.container_sobre_right .texto p {
  width: 78%;
  text-align: justify;
}

.container_sobre_right .texto {
  display: flex;
  width: 79%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

/* timeline */
.container-timeline {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  overflow-x: hidden;
}

li.item_timeline {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transform: translateX(-100%);
  /* Começa fora da tela à esquerda */
  transition: transform 1s ease, opacity 1s ease;
  /* Transições suaves */
  width: 100%;
  /* Garante que o item ocupe toda a largura do container */
}

.item_timeline img {
  width: 40%;
  /* Ajusta a largura da imagem para evitar que ela transborde */
}

.container-timeline li:nth-child(even) {
  display: flex;
  flex-direction: row-reverse;
  transform: translateX(50%);
  /* Começa fora da tela à direita */
}

.container-timeline li:nth-child(odd) {
  transform: translateX(-50%);
  /* Começa fora da tela à direita */
}


.item_timeline.appear {
  transform: translateX(0) !important;
  /* Move para a posição normal */
  opacity: 1;
  /* Torna o item visível */
}

.barra {
  width: 12px;
  height: 240px;
  background-color: #12254A;
  margin: 80px 60px;
  transform: rotate(310deg) skew(310deg, 0);
}

.texto-timeline {
  width: 40%;
}

/* ODS */
.container_ods {
  display: flex;

  flex-direction: column;
}

.ods-container {
  height: 50vh;
  width: 88%;
  perspective: 1000px;
  display: flex;
  gap: 24px;
  justify-content: center;
  margin: 0 auto;
}

.ods-container .card {
  width: 100%;
  height: 43vh;
  padding: 0;
  position: relative;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.ods-container .card:hover {
  transform: rotateY(180deg);
  /* Rotação para virar o card */
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  font-weight: 600;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  color: #fff;
  padding: 20px 0;
  box-sizing: border-box;
}

.card-back {
  width: 100%;
  padding: 20px 10px;
  text-align: center;
  transform: rotateY(180deg);
  /* Faz o verso começar "de costas" */
}

.item_ods img {
  width: 100%;
}

.card-back span {
  font-size: 16px;
}

/* sobre */
.about_developer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* align-items: center; */
}

.container_desenvolvedor {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.container_desenvolvedor h2 {
  margin: 0;
}

.desenvolvedor_img {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  background-color: black;
  background-image: url(../assets/imgs/ods/eu.svg);
  background-position: bottom -93px right -30px;
  background-repeat: no-repeat;

}

.desenvolvedor_texto {
  width: 58%;
}

/* FOOTER */

.footer {
  background-color: #0d1516;
  height: 150px;
  color: #fff;
  display: flex;
  font-size: 15px;
}

.footer .container {
  justify-content: center;
  text-align: center;
}

.footer .container .version {
  font-size: 12px;
}

.iconeFooter {
  color: #8b8b8b;
  font-size: 25px;
}

.fa-github-square:hover {
  color: #dddddd;
  /* background-color: white; */
}

.fa-linkedin:hover {
  color: #1199d8;
  /* background-color: white; */

}

.redes-sociais {
  width: 19%;
  display: flex;
  gap: 24px;
  align-items: center;
  justify-content: flex-end;
}

/* LOGIN */
.container_abertura {
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.login,
.cadastro {
  height: 100vh;
}

.login .container,
.cadastro .container {
  justify-content: start;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.cadastro .container {
  justify-content: end;
}

.card {
  width: 50%;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 16px;
  justify-content: space-evenly;
  color: #12254A;
  flex-direction: column;
  height: fit-content;
  padding: 20px 0;
}

.card h2 {
  margin: 0;
  font-size: 30px;
}

.formulario {
  display: flex;
  height: 90%;
  width: 50%;
  justify-content: space-around;
  flex-direction: column;
}

.formulario span {
  font-size: 15px;
  font-weight: 600;
}

.formulario input,
select {
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 1em;
}

select {
  color: #808080;
}

input:focus,
select:focus {
  outline: none;
  border: 2px solid #12254A;
  transition: border 0.3s linear;
}

.campo {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.campo_senha {
  display: flex;
  gap: 12px;
}

.campo_senha .campo {
  width: 48%;
}

.loading-div {
  width: 50px;
  display: none;
}

.loading-div img {
  height: 50px;
  width: 50px;
}

#div_erros_login {
  display: none;
}


.login-info {
  height: 100vh;
  flex: 1;
  background-color: #f0f2f5;
  /* Cor neutra */
  color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 50px;
}

.login-info h2 {
  font-size: 2em;
  margin-bottom: 20px;
  color: #333;
}

.login-info p {
  font-size: 1.2em;
  line-height: 1.6;
  color: #666;
}

/* FORMULARIO */

.alerta_erro {
  display: flex;
  justify-content: flex-end;
}

.card_erro {
  display: none;
  background-color: #fff;
  color: black;
  width: 230px;
  position: fixed;
  border-radius: 4px;
  border: #ed1414 3px solid;
  padding: 10px;
  margin-right: 10%;
}

.card_erro #mensagem_erro {
  font-weight: 500;
  font-size: 20px;
}

.formulario .tipo_campo {
  font-size: 20px;
  font-weight: 600 !important;
}

.formulario {
  gap: 20px;
  display: flex;
  flex-direction: column;
}

/* input {
  margin-bottom: 10px;
  border: 2px solid #32b9cd;
  padding: 10px;
  border-radius: 10px;
} */


.container_btn {
  display: flex;
  width: 78%;
  gap: 24px;
}

.btn {
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 16px;
  padding: 10px 15px;
  color: #fff;
  background-color: #0b1c45;
  width: 100%;
  align-self: center;
  margin-top: 5px;
  justify-content: center;
}
/* .botao {
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  background-color: #12254A;
  width: 100%;
  height: 40px;
  align-self: center;
  margin-top: 20px;
} */

.btn-primary {
  background-color: #0b1c45;
  ;
  color: #fff;
}

.btn-light {
  background-color: #B9D2FF;
  ;
  color: #0b1c45;
  border: solid 2px transparent;
}

.btn-outline {
  color: #fff;
  border: solid 2px #FFFFFF;
  transition: 0.5s;
}

.btn-primary:hover {
  background-color: #304875;
  ;
  color: #fff;
  transition: 0.3s;
}

.btn-light:hover {
  background-color: #304875;
  color: #fff;
  transition: 0.5s;
}
.btn-Relative {
  width: 25%;
  position: relative;
  top: -328px;
  right: -336px;
}

.btn-Relative.btn-outline{
  border: solid 2px transparent !important;
}

.btn-outline:hover {
  background-color: #304875;
  color: #fff;
  border: solid 2px transparent !important;
  transition: 0.3s;
}



.loading-div {
  width: 50px;
  margin: auto;
  display: none;
}

.loading-div img {
  height: 50px;
  width: 50px;
}

.fa-chevron-left {
  position: absolute;
  top: 30px;
  left: 50px;
  font-size: 30px;
  color: grey;

  cursor: pointer;
}

.buttonEntrarCadastrar{
  cursor: pointer;
  border-bottom: solid 1px transparent;
}

.buttonEntrarCadastrar:hover{
  border-bottom: solid 1px #12254A;
}